<h1>Our Mission</h1>
<p>We aim to provide an opportunity for charities and businesses to exploit their clothing donation bins.</p>
<h2>Service</h2>
<p>Our easy to use Web site allows donators to find clothing donation bins anywhere in NYC. We also partner with bin owners to help them promote their bin locations</p>
<h2>Bin Types</h2>
<p>There are two types of clothign donation bins. Some are for charitable organizations while others are for for-profit businesses. Please understand the difference and donate to the bins that make you feel comfortable.</p>
