/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$main-color: #37C6BB;

// green color:
// $main-color: #00D786;


* {
margin: 0;
}

html {
	height: 100%;
}

body {
	background-color:#f9f9f9;
	width: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	}
.footer, .push {
	height: 4em;
	clear: both;
	line-height: 18px;
	background-color:#f9f9f9;
	p {
		text-align: center;
		padding-top: 20px;
	}

	}

#navbar {
	/*padding-bottom: 20px;*/
	background-color: #DADADA;

	padding-bottom: 15px;
	color: $main-color;

}

#navLogo {
	position: relative;
	top: 7px;
	padding-left: 15px;
	font-size: 30px;
	font-family: 'Comfortaa', sans-serif;

	&:hover {
		color: white;

	}
	#recycle {
		display:inline-block;
		position: relative;
		top: 15px;

		&:hover img{
			-webkit-filter:brightness(100%);
		}
	}

}

#navMenu {
	position: relative;
	top: -15px;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	li {
		display: inline-block;
		margin-right: 10px;
		border-bottom: 1px solid $main-color;
		padding-bottom: 5px;
	}
	li:hover {
		border-bottom: none;
	}
	a:hover{
		text-decoration: none;
		color: white;
	}
}

#map-wrap {
	height: 450px;
	padding-top: 50px;

	h1 {
		font-family: 'Comfortaa';
		font-size:47pt;
		text-align: center;
	}
}

#map-canvas {
	padding-top: 50px;
	position: relative;
	top: 30px;
	border-radius: 7px;
	margin: 0 auto;
	height: 300px;
	width: 600px;
}

#mainWrapper {
	height: 100%;
	margin: 0px;
	background-color:#f9f9f9;
	// margin-left: 10px;
	// margin-right: 10px;

	#form-wrap a {
		display: inline-block;
		padding-top: 15px;
		padding-left: 75px;
	}

}

#missionWrapper {
	width: 500px;
	margin: 0 auto;

	h2 {
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
		font-style: italic;
	}
	p {
		margin-bottom: 20px;
	}
}


#hiddenMapContent {
	// display: none;
}

#filter {
	width: 200px;
	margin: 0 auto;

}
