// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-wrap {
   padding-top: 40px;
   width: 400px;
   margin: 45px auto 0 auto;
   padding-bottom: 45px;
   border-radius: 5px;
   border: 1px solid gray;

   a {
   display: inline-block;
   padding-top: 15px;
   padding-left: 75px;
   }

   #org-wrap {
      padding-left:75px;
   }

   #input-wrap {
      padding-left: 75px;
   }
h1 {
   text-align: center;
}
   input {
      border:none;
      border-radius: 3px;
      border: 1px solid #ccc;
      width: 250px;
      height: 20px;
      font-size: 12pt;

      &[type=submit] {
         padding-top: 20px;
         color: white;
         border: none;
         background-color: #3AAC34;
         line-height:0px;
         padding-bottom: 20px;
      }
   }
}
