<div id="missionWrapper">

<div id="our-mission">
	<h2 id="mission">Our Mission</h2>
		<p>We aim to provide an opportunity for charities and businesses to exploit their clothing donation bins.</p>
</div>
<hr style="width: 600px; margin: 10px 0 20px -50px;">

<h2>Service</h2>
	<p>Our easy-to-use Web site allows donators to find clothing donation bins anywhere in NYC. We also partner with bin owners to help them promote their bin locations</p>

<h2>Bin Types</h2>
	<p>There are two types of clothing donation bins. Some are for charitable organizations while others are for for-profit businesses. Please understand the difference and donate to the bins that make you feel most comfortable.</p>

</div>
